footer.footer 
    .footer__logo $footer_logo_placeholder
    ul.footer__nav  
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Contact
    p.footer__copyright &copy; by $author_placeholder