/* Basic Style */

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

header {
  background-color: #dad3d3;
}

.siteTitle {
  padding: 0 0 0 20px;
}

img {
  padding: 0 20px;
}

.flexContainer {
  height: 175px;
  width: 80vw;
  text-align: center;
}

.navbar {
  list-style: none;
  padding: 0;
}

li {
  padding: 0 20px;
}

.banner {
  height: 250px;
  background-color: rgb(167, 185, 224);
  font-size: 3rem;
  font-weight: 500;
}

.mainContent {
  text-align: center;
}

.content {
  background-color: rgb(125, 125, 138);
  padding: 20px;
  margin: 5px;
}

footer {
  margin: 15px;
}
.cta {
  width: 120px;
  height: 60px;
  padding: 5p;
  background-color: rgb(167, 185, 224);
}

@media screen and (min-width: 1200px) {
  .flexContainer {
    width: 1200px;
  }
}

/* Flexbox Layout */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.navbar,
.flexContainer {
  display: flex;
}

.banner,
footer,
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex: 1;
}
